<div>
    <h3>CDs by Country</h3>
    <small>Sample output only! Please update the view to show the actual results. Use HTML and CSS to format accordingly</small>
</div>
<div>
    <ul>
        <li>Country 1 - 10 CDs, $4.99 average, latest release in 1995</li>
        <li>Country 2 - 14 CDs, $6.80 average, latest release in 1998</li>
        <li>Country 3 - 19 CDs, $8.42 average, latest release in 2001</li>
    </ul>
    @ViewBag.ResultMessage
</div>