<div>
    <h3>List of CDs</h3>
</div>
<div>
    <small>Update this view to display the CDs with search and popup functionality.  Feel free to use JavaScript, JQuery, CSS, Angular, Knockout or any other client-side tech to show us your skills</small>
</div>