<div>
    <label class="control-label" style="padding: 6px 12px 0 0; float: left; width: 12%">Output Value</label>
    <input id="OutputValue" type="text" style="float: left" value=@ViewBag.ResultMessage class="form-control" readonly/>
</div>
<div style="height: 30px">   
</div>
